<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    <nav>
      
      <a href="/">Home</a>
      
      <nav>
        
        <% if (user) { %>
          <a href="/techniques"	<%- title === 'My Technique' ? 'class="active"' : '' %>>
          All Techniques</a>
          <a href="/techniques/new" <%- title === 'Add Technique' ? 'class="active"' : '' %>>Add Technique</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
      </nav>
  
  
    </nav>
    </header>
    <h1><%= title %></h1>
    

    <div class="container"></div>
 