<%- include('./partials/header') %>



   <div class="lotus">
      <img
         src="https://o.remove.bg/downloads/b3abee22-01e5-4866-aee6-aab21ed66a31/da8d3c180a80a0f10a7f009a08466186-removebg-preview.png"
         alt="">
   </div>


   <div class="title-clarity">
      <h1>Clarity</h1>
   </div>

   <div class="intro">
      <h5>"The garden of the world has no limits except in your mind. Its presence is more beautiful than <br>the stars
         with more clarity than the polished mirror of your heart." - Rumi<br></h5>
   </div>

   <div class="green">

      <img
         src="https://o.remove.bg/downloads/00e40203-e3c3-4bb2-9053-833852378b5f/9f945567c8cdc07bdf58203c9ca2432e-removebg-preview.png"
         alt="">

   </div>

   
   <div class="mindfulness">


      <img
         src="https://o.remove.bg/downloads/b87c7a67-988e-4e78-9b74-d402bb6c9a97/124cefab062d29b6e84ffe8ce6d80a1f-removebg-preview.png"
         alt="">

   </div>


   <%- include('./partials/footer') %>