body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://i.pinimg.com/564x/73/d0/84/73d08435a27063bacfed59b17fe80f08.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: larger;
  text-shadow: 2px 4px 4px #83d7f5;
  color: rgba(2, 86, 69, 0.786);

}

.google-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  position: relative;
  top: 2px;
}


#new-form {
  display: flex;
  /* border:  1px solid  rgb(253, 253, 196); */
  padding: 30px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: rgba(253, 253, 196, 0.5);
  text-shadow: 2px 4px 4px #83d7f5;
  color: rgba(2, 86, 69, 0.786);
}

form input[type="submit"] {
  max-width: 200px;
  margin: 0 auto;
}

input:not([type="submit"]) {
  border-radius: 0;
  border: 1px solid black;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="text"],
textarea {

  background-color: rgba(254, 244, 175, 0.54);
  border: none;

}

header {
  display: flexbox;

}

nav {
  display: flex;
  flex-direction: row;
  gap: 100px;
  /* background-color: rgb(255, 255, 255); */
  text-shadow: 2px 4px 4px #83d7f5;
  color: rgba(2, 86, 69, 0.786);
  width: 100%;
  height: 25px;
  font-weight: bolder;


}

.red {
  text-align: center;

}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: rgb(173, 207, 155);
  background-color: rgb(190, 238, 245);
}

li {
  list-style: none;
}



input[type=submit]:hover {
  background-color: rgb(85, 108, 184);
  color: rgb(240, 240, 168);
}

input[type=submit] {
  background-color: rgb(225, 234, 204);
  border-radius: 20%;
}

a {
  color: rgb(37, 65, 39);
  text-decoration: none;
  text-shadow: 2px 4px 4px #83d7f5;
  color: rgba(2, 86, 69, 0.786);
}

a:hover {
  color: rgb(166, 172, 100);
  text-shadow: 2px 4px 4px rgba(255, 93, 6, 0.6);
}

li {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}


.titles {
  font-size: 20px;
}


.login {
  position: relative;
  top: -16px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 34px; */
}

.login img {
  height: 30px;
}

.welcome-message {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: relative; top: 50px;
  /* bottom: -20px; */
  font-weight: bolder;
  font-size: 25px;
  color: rgba(31, 155, 91, 0.194);
  text-shadow: 2px 4px 4px #83d7f5;

}


.title-clarity {
  font-size: 280px;
  text-align: center;
  position: relative; top: -260px;
  /* top: -180px; */
  text-shadow: 2px 4px 4px #83d7f5;
  color: rgba(255, 255, 255, 0.786);

}

.intro {
  font-style: italic;
  text-align: center;
  position: relative;
  top: -450px;
  font-size: 22px;
  color: rgba(141, 216, 185, 0.572);
  /* text-shadow: 2px 4px 4px #83d7f5; */

}


.pay-attention {
  display: flex;
  flex-direction: row;
  align-content: center;
}


.green {
  display: grid;
  place-items: center;
  position: relative;
  top: -180px;
}

.lotus {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  height: 180px;
}

.mindfulness{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 390px;
  height: 50px;
  position: relative; top: -500px;
}



.titles{
  color: rgba(2, 86, 69, 0.786);
  font-size: 50px;
}

.edit-technique{
  font-weight: 900;
  position: relative; top: 30px;
}

.whole-technique{
  background-color:  rgb(240, 240, 168);
 background-repeat: no-repeat;
  background-size: 75% 50%;
}

.add-comment{
  color: rgba(141, 216, 185, 0.572);

}


.description{
  color: rgb(4, 40, 47);
}

.no-comment-yet{
  color: rgb(22, 46, 75);
  font-style: italic;
}

.thoughts{
  color: rgb(4, 40, 47);
}


.lotus-index{
  background-image: url("https://o.remove.bg/downloads/b3abee22-01e5-4866-aee6-aab21ed66a31/da8d3c180a80a0f10a7f009a08466186-removebg-preview.png"
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;

}


footer{
color: rgba(2, 86, 69, 0.786);;
}

.add-comment-text{
  color: rgba(2, 86, 69, 0.786);
  position: relative; top: 20px;

}


td{
  color: rgba(2, 86, 69, 0.786);
  padding: 10px;
  font-style: oblique;
}

th{
  color: rgba(1, 53, 43, 0.786);

}

input[type=text] {
  padding:10px;
  margin:10px 0; 
}