
<%- include('../partials/header') %>

<div id="newtechnique">

<form id="new-form" action="/techniques" method="POST">
    <label>Meditation Technique:</label>
    <input type="text" name="technique">
    <label>Description</label>
    <input type="text" name="description">
    <label>How did you find it?</label>
    <input type="text" name="thoughts">
   <div id="post-btn"> <input type="submit" value="Post"> </div>
  </form>

</div>

<small class="red"><%=errorMessage%></small>

<%- include('../partials/footer') %>